<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.devplatform.mapper.ProjectMapper">

    <select id="getProjectidByNameAndFounder" resultType="String">
        select projectid from project where name = #{project} and founder = #{founder}
    </select>

    <select id="findAllByPage" resultType="com.devplatform.entity.Project">
        select * from project where open = 1
        <if test="founder != null and founder !='' ">
            and founder = #{founder}
        </if>
        limit #{start},#{size}
    </select>

    <select id="getCount" resultType="int">
        select count(*) from project where open = 1
        <if test="founder != null and founder !='' ">
            and founder = #{founder}
        </if>
    </select>

    <insert id="saveProject" parameterType="com.devplatform.entity.Project">
        insert into project(projectid,name,description,createDate,updateDate,remarks,founder,open) values
           (#{projectid},#{name},#{description},#{createDate},#{updateDate},#{remarks},#{founder},#{open})
    </insert>

    <insert id="addMember">
        insert into team(teamid,projectid,username,status) values (#{teamid},#{projectid},#{username},#{status})
    </insert>

    <select id="getMembers" resultType="com.devplatform.entity.Team">
        select * from team where projectid = (select projectid from project where name = #{project} and founder = #{founder})
    </select>

    <select id="getMemberInfo" resultType="com.devplatform.entity.Member">
        select a.username,a.avatar,b.status from user a left join team b on a.username = b.username where b.projectid =
        (select projectid from project where name = #{project} and founder = #{founder})
    </select>

</mapper>
